@page
@model TableManagementSystem.Pages.Admin.Booking.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking Table</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row" style="width:200%">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="bookingTable.FirstName" class="control-label"></label>
                        <input asp-for="bookingTable.FirstName" class="form-control" />
                        <span asp-validation-for="bookingTable.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="bookingTable.LastName" class="control-label"></label>
                        <input asp-for="bookingTable.LastName" class="form-control" />
                        <span asp-validation-for="bookingTable.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="bookingTable.PhoneNumber" class="control-label"></label>
                        <input asp-for="bookingTable.PhoneNumber" class="form-control" />
                        <span asp-validation-for="bookingTable.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="bookingTable.Email" class="control-label"></label>
                        <input asp-for="bookingTable.Email" class="form-control" />
                        <span asp-validation-for="bookingTable.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="bookingTable.MealId" class="control-label"></label>
                        <select asp-for="bookingTable.MealId" class="form-control" asp-items="ViewBag.MealId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="bookingTable.TableId" class="control-label"></label>
                        <select asp-for="bookingTable.TableId" class="form-control" asp-items="ViewBag.TableId"></select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="bookingTable.FoodId" class="control-label"></label>
                        <select asp-for="bookingTable.FoodId" class="form-control" asp-items="ViewBag.FoodId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="bookingTable.FlowerId" class="control-label"></label>
                        <select asp-for="bookingTable.FlowerId" class="form-control" asp-items="ViewBag.FlowerId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="bookingTable.TablePositionId" class="control-label"></label>
                        <select asp-for="bookingTable.TablePositionId" class="form-control" asp-items="ViewBag.TablePositionId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="bookingTable.DateTime" class="control-label"></label>
                        <input asp-for="bookingTable.DateTime" class="form-control" />
                        <span asp-validation-for="bookingTable.DateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="bookingTable.SpecialNotes" class="control-label"></label>
                        <textarea asp-for="bookingTable.SpecialNotes" class="form-control"></textarea>
                        <span asp-validation-for="bookingTable.SpecialNotes" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="bookingTable.Status" /> @Html.DisplayNameFor(model => model.bookingTable.Status)
                        </label>
                    </div>
                </div>
            </div>
          
           
            <div class="form-group">
                <input type="submit"  value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
